<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4" style="font-weight:500;">Posts</h1>
</div>



<div class="container">
  <div class="card-columns text-center">
    <% @posts.each do |post|%>
      <div class="card mb-4 shadow border-0 text-dark bg-light">
        <div class= "card-body">
          <h3 class="card-title"><%= post.title%></h3>
          <p class="card-text"><%= post.body %></p>
          <%= link_to 'Read more ...', post_path(post), :class => 'btn btn-light btn-sm' %>
        </div>
      </div>
    <br>
    <%end%>
  </div>
</div>
